@import "./variable.scss";

// font-size 清除.
.self-font-size-delete {
  font-size: 0px;
}

// 圖片縮放的類型.
.self-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// 圖片縮放的類型.
.self-image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// 圖片縮放的類型.
.self-image-width-contain {
  width: 100%;
  object-fit: contain;
}
// 圖片縮放的類型.
.self-image-height-contain {
  height: 100%;
  object-fit: contain;
}

// 邊框容器模型.
.self-border-box {
  box-sizing: border-box;
}

// 文字間距.
.self-letter-spacing-rem {
  letter-spacing: 1rem;
}
.self-letter-spacing-px {
  letter-spacing: 1px;
}
