// variable 變數集合, 記得 import 到各個 scss 檔案.

@charset "UTF-8";

// 顏色
$black: #000;
$black-alpha: rgba($black, 0.2);

$white: #fff;

$gray: #666;

$red: #ff0000;
$red-alpha: rgba($red, 0.4);

$green: #53acb4;
$green-alpha: rgba($green, 0.4);

$blue: #2b447d;
$blue-alpha: rgba($blue, 0.8);

// 表格顏色
$table-color: #dee2e6;
$table-color-alpha: rgba($table-color, 0.2);

// 標題顏色
$title-color: #343a40;
$title-color-alpha: rgba($title-color, 0.2);
