// variable 變數集合, 記得 import 到各個 scss 檔案.

@charset "UTF-8";

// 黑色.
$black: #000;
// 黑色透明.
$black-alpha: rgba($black, 0.2);
// 白色.
$white: #fff;
// 灰色.
$gray: #666;
// 紅色.
$red: #ff0000;
// 紅色透明.
$red-alpha: rgba($red, 0.4);
// 綠色.
$green: #53acb4;
// 綠色透明.
$green-alpha: rgba($green, 0.4);
// 藍色.
$blue: #2b447d;
// 藍色透明.
$blue-alpha: rgba($blue, 0.8);

// 表格顏色.
$table-color: #dee2e6;
$table-color-alpha: rgba($table-color, 0.2);

// 後台商品編輯標題顏色.
$editing-color: #343a40;
$editing-color-alpha: rgba($editing-color, 0.2);

// RWD 使用.
$screen-width-sm: 576px;
$screen-width-md: 768px;
$screen-width-lg: 992px;
$screen-width-xl: 1200px;

// header nav-link hover color.
$header-nav-hover-color: #e9ecef;
